.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  top: 1340px;
  left: 668px;

  text-align: center;
}

@media screen and (max-width: 627px) {
  .footer__copyright {
    width: 104px;
height: 16px;
top: 2448px;
left: 108px;
gap: 0px;
opacity: 0px;

  }
}